body {
    background-color: #D3D3D3;
    color: #333; 
    font-family: Arial, sans-serif; 
}
h1 {
    color: blue;
}
p {
    color: green;
    font-style: italic;
}
a {
    text-decoration: none; 
    color: #00f; 
}
a:hover {
    color: red; 
}