
/* zad2 */
#myButton1 {
    background-color: rgb(44, 168, 40);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    }
    
    #myButton1:hover {
    background-color: rgb(126, 186, 194);
    }
    
    #myButton2 {
    background-color: rgb(5, 48, 241);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    }
    
    #myButton2:hover {
    background-color: rgb(126, 186, 194);
    }
    
    #myButton3 {
    background-color: rgb(255, 0, 0);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    }
    
    #myButton3:hover {
    background-color: rgb(126, 186, 194);
    }